<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JTSNew</display-name>
  <error-page>
    <!-- Mapping a 404 when user refreshes with an html5 push route-->
    <error-code>404</error-code>
    <location>/</location>
  </error-page>
  <error-page>
    <!-- Mapping a 405 when user refreshes with an html5 push route-->
    <error-code>405</error-code>
    <location>/</location>
  </error-page>

  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
</web-app>
